.card {
    width: 320px;
    height: 350px;
}

.inner {
    transition: transform 0.7s;
    transform-style: preserve-3d;
} 

.card:hover .inner {
    transform: translate(-92%);
}

/*
.front,
.back {
    backface-visibility: hidden;
}

.back {
    transform: rotatey(180deg);
} */